/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/*UTILITY*/
.gray-text {
    color: rgb(169, 169, 169);
}

.red-text {
    color: rgb(214, 48, 48);
}

.line-through {
    text-decoration: line-through;
}

.width30 {
    width: 30%;
}

.flex {
    display: flex;

}



.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.align-cent {
    align-items: center;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.container {
    margin: 0 auto;
    width: 1500px;
    max-width: 90%;
    margin-top: 100px;
}

.margin-left {
    margin-left: 40px;
}

/*COMMON*/

/*LAYOUT*/

/*HEADER*/
header {
    background-color: rgb(251, 105, 56);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.logo {
    width: 150px;
}

header>nav svg {
    width: 20px;
    margin-left: 5px;
}

header>nav a {
    color: white;
    margin-left: 10px;
}

/*CARD SECTION*/

.col {
    width: 30%;
    margin-bottom: 50px;
}

.card {
    position: relative;
    cursor: pointer;
}

.hearts {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 25px;
    padding: 4px 8px;
    background-color: white;
    z-index: 2;

}

.discount {
    color: rgb(255, 255, 255);
    background-color: rgb(232, 86, 86);
    font-size: 0.8rem;
    padding: 2px 4px;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.eco {
    background-color: rgb(11, 88, 11);
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    padding: 2px;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.card:hover .hearts {
    color: red;
    cursor: pointer;
}

.hidden-img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card:hover .hidden-img {
    display: block;

}

/*FOOTER*/

footer {
    color: white;
    background-color: rgb(26, 26, 26);
    height: 60px;
}

.footer-nav {
    margin-left: 50px;
    margin-right: 50px;
}

.footer-nav a {
    font-size: 0.7rem;
}

svg {
    width: 20px;
}

h4 {
    font-size: 0.8rem;
    line-height: 1rem;
}