/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

* p,
a,
h3,
h2 {
    color: rgb(100, 98, 98);
}

h2 {
    font-size: 3rem;
    text-align: center;
}

/*LAYOUT*/
/*COMMON*/

/*UTILITY*/
.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 1500px;
    max-width: 95%;
}

.hero-container {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.column {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.my80 {
    margin-top: 80px;
}

.max-width500 {
    max-width: 500px;
}

.width30 {
    width: 30%;
}

.width50 {
    width: 50%;
}

.bg-gray {
    background-color: rgb(231, 231, 231);
}

.pad24 {
    padding: 24px;
}

/*HEADER*/

header {
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo {
    width: 50px;
}

nav a {
    padding: 10px;
}

/*HERO SECTION*/

.box {
    margin-top: 80px;
    width: 50%;
}

.box h1 {
    font-size: 4rem;
    color: rgb(75, 70, 70);
    max-width: 80%;
}

.box p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    max-width: 70%;
    padding: 30px;
}

.shop-button {
    border: 1px solid rgb(93, 92, 92);
    padding: 12px 24px;
    font-weight: 600;
}

/*PRODUCT SECTION*/

.product-img {
    max-width: 250px;
}

.description {
    max-height: 100%;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    line-height: 1.6rem;
}

.description h3 {
    font-size: 1.5rem;
    padding-bottom: 12px;
}

.description p {
    margin-bottom: 40px;
}

/*REVIEW SECTION*/

.stars {
    color: rgb(241, 212, 47);
}

.review h2 {
    margin-bottom: 52px;
}

.review p {
    height: 100%;
    line-height: 1.5rem;
}

.review .stars {
    padding-bottom: 10px;
}

.list-svg svg {
    width: 20px;
    margin-top: 20px;
    cursor: pointer;
}

/*COLLECTION SECTION*/

.label-product a {
    font-size: 1.3rem;
    padding: 6px 0;
}

.label-product .stars {
    margin-top: 12px;
}

.label-product :last-child {
    font-size: 1.6rem;
    font-weight: 900;
    color: rgb(37, 168, 37);
    padding-bottom: 40px;

}

/*FAQS SECTION*/

.faq {
    height: 150px;
    position: relative;
    margin-top: 30px;
}

.faq:hover .hidden {
    display: block;
}

.hidden {
    display: none;
    padding: 12px;
    margin: 0 auto;
}

button {
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq:hover button {
    display: none;
}

.faq h3 {
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
}

.faq-ends svg {
    width: 40px;
}

.faq-ends p {
    max-width: 80%;
    margin: 0 auto;
}

.borders {
    border-left: 1px solid gray;
    border-right: 1px solid gray;

}

.faq-ends h3 {
    font-size: 1.4rem;
    padding: 12px;
}