/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

* p,
a {
    color: rgb(100, 98, 98);
}

/*LAYOUT*/
/*COMMON*/

/*UTILITY*/
.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.container {
    margin: 0 auto;
    width: 1500px;
    max-width: 95%;
    max-height: 500px;
}

.text-center {
    text-align: center;
}



/*HEADER*/

header {
    height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo {
    width: 50px;
}

nav a {
    padding: 10px;
}

/*HERO SECTION*/

.box {
    margin-top: 80px;
    width: 50%;
}

.box h2 {
    font-size: 4rem;
    padding: 24px;
    color: rgb(75, 70, 70);
}

.box p {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 50px;
}

.shop-button {
    display: inline-block;
    border: 1px solid rgb(120, 114, 114);
    padding: 12px 24px;
}